nav {
    background-color: black;
}

.textColorLight {
    color: #DDDDDD;
    background-color: black;
    text-align: left;
}

.textColorLight:hover {
    color: white;
    background-color: #E05C42;
}

.textColorLight:focus {
    color: white;
    background-color: #E05C42;
}

.brand {
    color: #DDDDDD;
    width: -webkit-fill-available;
}

.toggler {
    color: #DDDDDD;
    background-color: #E05C42;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
