nav {
    background-color: black;
}

.textColorLight {
    color: #DDDDDD;
    background-color: black;
}

.textColorLight:hover {
    color: white;
    background-color: #E05C42;
}

.textColorLight:focus {
    color: white;
    background-color: #E05C42;
}